<a href="https://colab.research.google.com/github/susandong/w266_final_project_game_sentiment/blob/master/w266_Final_Project_Game_Review_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Project: Game Review Sentiment Analysis Over Time
## Research Question: 
* Can we use sentiment analysis score to predict the active user base for video games over time

## Dataset: 
* Game Review: twitter/reddit/discord/steam reviews
* active user base: steam

## Algorithm: 
* Baseline(logistic Regression); 
* Transformer(Elmo/Bert)

In [2]:
#Load libraries
import pandas as pd
import nltk

In [3]:
""" Download Data: There are 4 games with review data
Fall Guys (fg)
PlayerUnknown Battlegrounds (pubg)
Dota 2 (dota2)
Counterstrike Source: Go (csgo)

Review data has the following columns:
app: ID for the game
useful: how many users voted the review as useful
funny: how many users voted the review as funny
username: username of the person who wrote the review
games_owned: how many games the reviewer owns on Steam
num_reviews: how many reviews the reviewer has written on Steam
recommend: 1 for recommend (thumbs up), -1 for do not recommend (thumbs down)
hours_played: number of hours the reviewer played before writing the review
date: date review was written
text: text of the review
"""
fg_url = 'https://raw.githubusercontent.com/susandong/w266_final_project_game_sentiment/master/data/fallguys_reviews.csv'
fg_df = pd.read_csv(fg_url, error_bad_lines=False)
csgo_url = 'https://raw.githubusercontent.com/susandong/w266_final_project_game_sentiment/master/data/csgo_reviews.csv'
csgo_df = pd.read_csv(csgo_url, error_bad_lines=False)
dota2_url = 'https://raw.githubusercontent.com/susandong/w266_final_project_game_sentiment/master/data/dota2_reviews.csv'
dota2_df = pd.read_csv(dota2_url, error_bad_lines=False)
pubg_url = 'https://raw.githubusercontent.com/susandong/w266_final_project_game_sentiment/master/data/pubg_reviews.csv'
pubg_df = pd.read_csv(pubg_url, error_bad_lines=False)
player_url = 'https://raw.githubusercontent.com/susandong/w266_final_project_game_sentiment/master/data/PlayerCountData.csv'
player_df = pd.read_csv(player_url, error_bad_lines=False)

In [ ]:
# Data Preprocessing
fg_df.describe()

             app        useful  ...     recommend  hours_played
count    90658.0  90658.000000  ...  90658.000000  90658.000000
mean   1097150.0      0.630876  ...      0.706259     34.609021
std          0.0     12.220007  ...      0.707958     43.021857
min    1097150.0      0.000000  ...     -1.000000      0.100000
25%    1097150.0      0.000000  ...      1.000000     10.800000
50%    1097150.0      0.000000  ...      1.000000     21.400000
75%    1097150.0      0.000000  ...      1.000000     43.300000
max    1097150.0    993.000000  ...      1.000000    999.400000

[8 rows x 7 columns]

In [5]:
player_df.Game.value_counts()

Dota 2                              98
Counter-Strike: Global Offensive    98
PLAYERUNKNOWN'S BATTLEGROUNDS       42
Among Us                            22
Name: Game, dtype: int64

In [ ]:
# Build model

In [ ]:
# evaluate model